

.container{
    box-sizing: border-box;
    width: 100%;
}

/* nav bar 1 */
.nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;

}
.logo img {
    width: 150px;
}


/* nav 1 bar middle  */
.middle{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.sub-middle{
    display: flex;
    align-items: center;
    
}
.sub-middle img{
    width: 40px;
    height: 50px;
    border-radius: 80px;
}


/* nav 1 bar right  */

.nav1 .right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav1 .right img{
    width: 50px;
    height: 40px;
    margin: 0 10px 0 20px;
}


/* container2  */

.container2{
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container2-1{
    /* background-color: aqua; */
    width: 80%;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading span span{
    margin-right: 20px;
}

.heading span span:hover{
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
}

.heading span span svg{
    margin-right: 5px;
}
.heading span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* images   */
.images-top img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.images-top{
    display: grid;
    grid-template-areas: 
    "hyderabad1 hyderabad1 hyderabad2 hyderabad4"
    "hyderabad1 hyderabad1 hyderabad3 hyderabad5"
     ;
     grid-gap: 20px;
     
}

#hyderabad1{
    grid-area: hyderabad1;
}

#hyderabad2{
    grid-area: hyderabad2;
}

#hyderabad3{
    grid-area: hyderabad3;
}

#hyderabad4{
    grid-area: hyderabad4;
}

#hyderabad5{
    grid-area: hyderabad5;
}

/* container3 */

.container3{
    display: flex;
    justify-content: space-between;
}
.left{
    box-sizing: border-box;
    width: 45%;
}

.left > h2 {
    padding: 0px;
    margin: 10px;
}

.left > h2 + span {
    padding: 0px;
    margin: 10px;
}

.guestfavourite{
    border: 3px solid rgb(212, 208, 208);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

.guestfavourite h2,h3{
    margin: 0;
}

.guestfavourite > img{
    width: 200px;
}

.rating img{
    width: 80px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews{
    border-left: 2px solid rgb(199, 195, 195);
    padding-left:20px ;
}





/* customers  top */

.customers .top-customers{
    display: flex;
    align-items: center;
}

.top-image-customers img{
    width: 50px;
    border-radius: 50%;
}

.top-customers-data h2,h3{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-weight: 200;
}

/* customers  middle */
#middle-customers h2,#middle-customers h3{
    margin: 0;
    font-weight: 100;
    font-size: large;
}

#middle-customers .first{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
#middle-customers span{
    margin-left: 30px;
}

#middle-customers span svg{
    height: 25px;
}

.place-offers{
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    font-size: medium;
}

.place-offers  svg {
    margin: 0px 10px;
    width: 30px !important;
    height:20px !important ;
}

.place-offers span{
    margin: 10px 0px;
}
.place-first , .place-second {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* ------------------------------hide data  ----------------------------- */
.hidedata{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    display: none;
}

.hidedata-off{
    display: contents;
}

.button{
    text-align: center;
}

.buttonon{
    display: contents;
}
.buttonoff{
    display: none;
}
.button h3{
    background-color:  rgb(199, 195, 195);
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
}

.button h3:hover{
    cursor: pointer;
    color: white;
    background-color: #e00c64;
}




/* right  */
.container3 .right .right-sub{
    position: sticky;
    top: 100px;
    bottom: -100px;
    width: 150%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 100px;
}
.right .right-sub .right-top{
    width: 90%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px 1px rgb(170, 172, 173);
    padding: 10px 20px;
    border-radius: 9px;
}

.right-middle{
    width: 90%;
    margin-top: 30px;
    border-radius: 9px;
    padding: 20px;
    box-shadow: 2px 2px 5px 1px rgb(170, 172, 173);
}

.right-middle h3{
    margin: 10px 0px 30px 0px;
    padding: 0;
    font-size: large;
}

.right-middle h3 span {
    font-size: x-large;
    font-weight: 400;
}

.right-middle button{
    width: 100%;
    border-radius: 20px;
    background-color: #e00c64;
    color: white;
    font-size: medium;
    margin: 10px 0;
    padding: 11px 0px;
    border: 0px;
}

.right-middle .danger1{
    margin: 10px;
    text-align: center;
}
.table-top{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table-top h5{
    padding: 5px 20px;
    margin: 10px;
}
.table-top h5 span{
    margin: 0px;
}
.table-top hr{
    margin: 0;
}

.table-down #hotel{
    width: 100%;
    margin: 0;
    padding: 15px 50px;
    border-radius:0px 0px 10px 10px;
    border-top: 0px;
}

.danger2{
    margin: 20px 0px;
    font-size: large;
}

/* footer  */

footer{
    background-color: rgba(238, 236, 236, 0.897);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
footer .top{
    width: 90%;
}

footer .top h2{
    font-size: 22px;
    color: #222222;
}
.top ul li{
    list-style-type: none;
}

.top ul li h3,h4{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 14px;
    color: #222222;
}
.top ul li h4{
    margin-bottom: 20px;
    color: #6a6a6a;
}

.un-order{
    display: flex;
    justify-content: space-around;
}

footer .middle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle h5{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 50;
}

.middle h3{
    font-size: 14px;
}


.last{
    width: 90%;
    display: flex;
    border: 3px  rgb(211, 205, 205);
    border-top-style: solid;
}

.last .left ,.right , .left ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left ul li, .right span{
    margin-left: 20px;
}
.last {
    display: flex;
    justify-content: space-between;
}
